
<div id="typeFilter">
  <p id="typeFilterDefaultValue" {{action 'toggleDropdown' bubbles=false}}>Muscle</p>
  <div id="typeFilterDropdown" class="filterDropdown">
    {{#each filterValues as |item index|}}
      <p class="typeFilterItem" {{action 'changeFilter' index bubbles=false}}>{{item}}</p>
    {{/each}}
  </div>
</div>

{{yield}}