
<div id="uploadMediaComponent">
  <div>
    <p>Upload Media</p>
    <p>Types: .GIF, .MP4, .M4V</p>
  </div>

  <!-- Element which opens browse window on click -->
  <p class="browseButton" {{action 'openUploadMuscleImageWindow'}}>Browse</p>

</div>

<br/>

<div id="uploadedMediaFiles">

</div>

{{yield}}