
<table class="usersTable">
  <tr>
    <td class="usersThumbnail">
      <img src="{{item.thumbnail}}" />
    </td>
    <td class="usersTitle">
      <p>{{item.name}}</p>
    </td>
    <td class="usersLocation">{{item.location}}</td>
  </tr>
</table>

{{yield}}